@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue-intro: hsl(217, 28%, 15%);
    --blue-main: hsl(218, 28%, 13%);
    --blue-footer: hsl(216, 53%, 9%);
    --blue-testimonials: hsl(219, 30%, 18%);
    --cyan-gradient: hsl(176, 68%, 64%);
    --blue-gradient: hsl(198, 60%, 50%);
    --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
    --body-font: 'Open Sans', sans-serif;
    --heading-font: 'Raleway', sans-serif;
    
    --padding-container: 60px 0;
}

body{
    font-family: var(--body-font);
    background-color: var(--blue-main);
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.hero{
    background-color: var(--blue-intro);
    position: relative;
    color: #fff;
}
.hero__wave{
    position: absolute;
    background-color: var(--blue-main);
    bottom: 0;
    width: 100%;
    height: 40%;
}
.hero__wave::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100px;
    background-image: url(../images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 100px;
}
.hero__img{
    width: 100%;
    display: block;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 3em;
}
.nav{
    display: flex;
    align-items: center;
    font-family: var(--heading-font);
}
.nav__links{
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}
.nav__link{
    color: #fff;
    text-decoration: none;
}
.hero__main{
    position: relative;
    text-align: center;
}
.nav__img{
    width: 100%;
    display: block;
    max-width: 600px;
    margin: 0 auto;
}
.hero__title{
    font-family: var(--heading-font);
    margin: 2.5em 0 1em;
}
.hero__paragraph{
    line-height: 1.5;
    margin-bottom: 1.5em;
}
.hero__cta{
    display: inline-block;
    width: 250px;
    padding: 15px 0;
    background-image: var(--gradient);
    color: #fff;
    font-family: var(--heading-font);
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
}

/* cards */
.cards{
    text-align: center;
    display: grid;
    gap: 5em;
    color: #fff;
}
.cards__img{
     width: 110px;
     height: 130px;
     object-fit: contain;
     display: block;
     margin: 0 auto;
     margin-bottom: 1.5em;
}
.cards__title{
    font-family: var(--heading-font);
    margin-bottom: 1em;
}
.cards__paragraph{
    line-height: 1.5;
}

/* about */

.about__img{
    width: 100%;
    display: block;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 3em;
}
.about__texts{
    color: #fff;
}
.about__title{
    font-family: var(--heading-font);
}
.about__paragraph{
    margin-top: 2em;
    line-height: 1.5;
}
.about__cta{
    margin-top: 1em;
    display: inline-block;
    color: var(--cyan-gradient);
    text-decoration: none;
    line-height: 2.5;
    border-bottom: 1px solid var(--cyan-gradient);
}
.about__icon{
    width: 20px;
    margin-left: .3em;
    vertical-align: middle;
}

