@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue-intro: hsl(217, 28%, 15%);
    --blue-main: hsl(218, 28%, 13%);
    --blue-footer: hsl(216, 53%, 9%);
    --blue-testimonials: hsl(219, 30%, 18%);
    --cyan-gradient: hsl(176, 68%, 64%);
    --blue-gradient: hsl(198, 60%, 50%);
    --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
    --body-font: 'Open Sans', sans-serif;
    --heading-font: 'Raleway', sans-serif;
    
    --padding-container: 60px 0;
}

body{
    font-family: var(--body-font);
    background-color: var(--blue-main);
}